* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */

nav {
  background-color: #383e4c;
  padding: 10px;
  font-size: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  white-space: nowrap;
  display: flex;
  margin: 15px;
  justify-content: center;
  /* padding: 10px; */
}

nav li {
  list-style: none;
  font-size: 1.2rem;
  display: inline-block;
  margin: 8px;
  /* padding: 10px; */
}

nav a:hover {
  transition: all 0.3s ease;
  background-color: #49505f;
}

nav a {
  color: azure;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  border: 1px solid #596170;
  background-color: #383e4c;
}

.selected {
  background-color: #49505f;
}

/* "Scrolling back up" component: */
.fixed {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  bottom: 3%;
  right: 2%;
}

/* Parallax mirror effect: */

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url("img/bg-1.jpg");
}

.service {
  background-image: url("img/bg-2.jpg");
}

#section4 {
  background-image: url("img/bg-3.jpg");
}