* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

/* body {
    display: none;
} */

/* NAVIGATION BAR */

nav {
  background-color: #383e4c;
  padding: 10px;
  font-size: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  white-space: nowrap;
  display: flex;
  margin: 15px;
  justify-content: center;
  /* padding: 10px; */
}

nav li {
  list-style: none;
  font-size: 1.2rem;
  display: inline-block;
  margin: 8px;
  /* padding: 10px; */
}

nav a:hover {
    transition: all 0.3s ease;
  background-color: #49505f;
}

nav a {
  color: azure;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  border: 1px solid #596170;
  background-color: #383e4c;
}

.selected {
  background-color: #49505f;
}

/* "Scrolling back up" component: */
.fixed {
  position: fixed;
  bottom: 3%;
  right: 2%;
}